.stickers {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.card {
    border-radius: 2%;
    padding: 15px;
    background-color: rgb(238, 25, 13);
    width: 300px;
}

.card img {
    width: 100%;
}

.options {
    display: flex;
    flex-direction: column;
}

button {
    background-color: rgb(4, 4, 4);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    height: 35px;
    font-weight: bold;
}

.texto {
    text-align: center;
}

.btn {
    text-align: center;
}